<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diabuddy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/round_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Diabuddy">
        <activity
            android:name=".UserActivity"
            android:exported="false"
            android:label="@string/title_activity_user"
            android:theme="@style/Theme.Diabuddy.NoActionBar" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="false"
            android:label="@string/action_feedback"
            android:theme="@style/Theme.Diabuddy.NoActionBar" />
        <activity
            android:name=".siterotation.SiteRotationActivity"
            android:label="My Injection Sites"
            android:theme="@style/Theme.Diabuddy.NoActionBar" />
        <activity
            android:name=".logbook.EditActivity"
            android:label="@string/title_activity_edit"
            android:theme="@style/Theme.Diabuddy.NoActionBar" />
        <activity
            android:name=".messages.MessagesActivity"
            android:label="@string/title_activity_messages"
            android:theme="@style/Theme.Diabuddy.NoActionBar" />
        <activity
            android:name=".foodtemplate.FoodTemplateActivity"
            android:label="@string/title_activity_food_template"
            android:theme="@style/Theme.Diabuddy.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.Diabuddy.NoActionBar" />
        <activity
            android:name=".about.AboutActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:label="@string/about"
            android:supportsPictureInPicture="true"
            android:theme="@style/Theme.Diabuddy.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.Diabuddy.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".onboarding.OnboardingActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>